@media (max-width: 1023px) {
    h1, h2 {
        font-size: 29px;
    }

    .kiborg {
        left: 0 !important;
    }

    .header {
        height: 66px;

        &__logo {
            position: unset;
            display: block;
            width: 100%;
        }

        &__menu {
            @apply fixed left-0 z-50 bg-white w-full h-full shadow-2xl;
            @apply transition-all ease-in-out duration-300;
            top: -110%;

            &__items {
                @apply flex-col justify-start items-center w-full text-2xl leading-loose;

                a {
                    font-size: 24px;
                    line-height: 50px;
                }
            }

            &._open {
                top: 0;
            }
        }

        &__contacts {
            @apply shadow-lg;
            display: block;
            position: absolute;
            top: -250px;
            left: 0;
            right: 0;
            padding: 30px;
            text-align: center;
            background: #fff;
            color: #000;
            z-index: 30;
            transition: all .2s ease-in-out;

            &__phone {
                font-size: 24px !important;
                margin-top: 5px !important;

                &:last-of-type {
                    @apply text-grey-200;
                    font-size: 21px !important;
                }
            }

            &__text {
                bottom: unset;
                position: relative;
                font-size: 20px;

                &_small {
                    font-size: 12px;
                    letter-spacing: 0.5px;
                }
            }

            &__messenger {
                //margin-top: 10px;

                svg {
                    fill: #026f4f;
                }
            }

            &._open {
                top: 0 !important;
            }
        }
    }

    .advantages {
        &__block {
            height: calc(100vh - 68px);
            max-height: 690px;
        }

        &__emblem {
            height: 130px;
        }

        &__title {
            font-size: 24px;
            @apply font-bold;
        }

        &__img {
            img {
                height: 290px;
                left: 30px;
            }

            &_1 {
                position: relative;
                right: -5px;
            }

            &_2 {
                position: relative;
                right: 5px;
            }
        }

        &__items {
            span {
                font-size: 26px;
            }

            p {
                font-size: 13px;
            }
        }

        &__links {
            font-size: 13px;
            font-weight: bold;

            &_1 {
                left: 40px;
            }

            &_2 {
                right: 40px;
            }

            a {
                bottom: 10px;
                background: rgba(#fff, .65);
                padding: 0 5px;
                white-space: nowrap;
            }
        }
    }

    .services {
        &__categories {
            position: relative;
            margin-left: -15px;
            margin-right: -15px;
            padding-left: 15px;

            ul {
                flex-wrap: nowrap;
                white-space: nowrap;
                justify-content: flex-start;
                overflow: auto;
            }

            li:last-child {
                padding-right: 30px;
            }
        }
    }
}

@media (max-width: 1024px) and (max-height: 500px) {
    .header {
        &__logo {
            //background: url('/img/logo.png') no-repeat center;
            background-size: contain;
        }

        &__menu {
            top: -150%;
            overflow: auto;
        }
    }
    .advantages__block {
        height: unset;
    }
}
