@media (max-width: 768px) {
    h1, h2 {
        font-size: 26px;
        font-weight: 600;
    }

    p {
        iframe {
            height: 55vw;
        }
    }

    .advantages {
        &__emblem {
            height: 90px;
        }

        &__block {
            min-height: 540px;
            height: unset;
        }
    }

    .mentioning {
        .mention {
            min-height: 95px;
        }
    }

    .xs-px-0 {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .kiborg {
        left: 65px !important;
    }
}
