@tailwind components;
@tailwind utilities;
.container {
    max-width: 1500px;

    &-sm, &-md, &-lg, &-xl {
        max-width: 1500px;
    }
}

.command-bar {
    .form-group {
        margin-left: 5px;
    }
}

.dropdown-menu {
    .form-group {
        margin-bottom: 5px !important;
    }
}

.whitespace-nowrap {
    white-space: nowrap;
}

.cropper-preview, .picture-preview {
    object-fit: contain;
    max-height: 330px;
}

.editorjs {
    html {
        background: transparent;
    }

    h1, h2 {
        text-align: center;
    }

    .text-primary {
        color: #026f4f !important;
    }

    @import "blocks/hr";
    @import "pages/person";
    @import "blocks/quote";

    .page_person {
        &__face {
            background-position: bottom 0 right -65px;

            blockquote {
                max-width: calc(100% - 140px);
            }
        }
    }
}

.ce-settings__plugin-zone {
    div > div {
        text-align: center;
        font-weight: 600;
        padding: 5px;
        color: black;
        transition: all .2s;

        &:hover {
            cursor: pointer;
            background: #eff2f5;
            border-radius: 5px;
        }

        &.cdx-settings-button--active {
            background: lightyellow;
        }
    }
}

.title_big .form-label {
    font-size: 22px;
    font-weight: 700;
}

.title_big:not(:first-of-type) .form-label {
    margin-top: 20px;
}

[data-container-key="person[data][skills]"] {
    .picture-preview {
        height: 64px;
    }
}
