@tailwind base;
@tailwind components;
@tailwind utilities;

@import './modules/container';
@import './modules/carousel';
@import './modules/modal';
@import './modules/forms';
@import './modules/buttons';
@import './modules/show_more';
@import './modules/lazyload';
@import './lato';

* {
    outline: none !important;
}

body {
    font-family: 'Lato', Helvetica, sans-serif;
}

h1, h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-top: 5px;
    @apply mb-4;
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.hr {
    & + h1, & + h2 {
        margin-top: -8px;
    }
}

hr {
    position: relative;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
}

p {
    iframe {
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        max-width: 100%;
    }
}

.p-0 {
    &-i {
        padding: 0 !important;
    }
}

.text-white {
    li {
        &:before {
            background-color: #fff !important;
        }
    }
}

.logo {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;

    &__icon {
        margin-right: 15px;

        svg {
            width: 70px;
            height: 94px;
        }
    }

    &_small {
        height: 50px !important;
        width: 100%;
    }

    & > svg {
        width: 100%;
        height: 94px;
        max-width: 360px;
    }
}

.header {
    height: 94px;

    &__logo {
        position: absolute;
        top: 0;
        height: 100%;
        width: 450px;
    }

    &__menu {
        & > div {
            padding-left: 0;
            padding-right: 0;
        }

        &__button, &__call {
            svg {
                fill: white;
                height: 24px;
                margin: 13px 0;
            }
        }

        &__items {
            a {
                line-height: 36px;
                transition: background-color .2s ease-in-out;
                color: #000;

                &:hover {
                    background-color: rgba(#000, 10%);
                }
            }
        }

        .emblem {
            height: 80px;
            background-size: contain;

            &::placeholder {
                background: red;
            }
        }
    }

    &__contacts {
        &__phones {
            a {
                font-size: 21px;
                margin-top: 15px;
                letter-spacing: 0.5px;
            }

            svg {
                height: 28px;
                fill: #fff;
                position: relative;
                top: 3px;
            }
        }

        &__text {
            bottom: -20px;
            right: 0;
            font-weight: bold;
            letter-spacing: 1.2px;
        }
    }

    &__partners {
        a {
            height: 36px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                width: 18px;
                margin-right: 7px;
                fill: white;
            }
        }
    }
}

.advantages {

    &__img {
        width: 50%;

        &_1 {
            img {
                position: relative;
                left: 60px;
            }
        }

        img {
            max-width: unset;
            height: 650px;
        }
    }

    &__title {
        font-size: 33px;
        line-height: 1.23;
        margin-top: 5px;
    }

    &__emblem {
        height: 205px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    &__items {
        margin-top: 33px;

        span {
            font-size: 32px;
        }

        p {
            font-size: 16px;
            margin-bottom: 18px;
            line-height: 1.4;

            &:last-child {
                margin-bottom: 80px;
            }
        }
    }

    &__links {
        a {
            position: absolute;
            bottom: 155px;
        }

        &_1 {
            left: 265px;
        }

        &_2 {
            right: 285px;
        }
    }
}

.services {
    &__items {
        margin-left: -20px;
        margin-right: -20px;
    }
}

.footer {
    ._big {
        padding: 0;
        width: 72px;
        height: 69px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
        }
    }
}

@import "pages";

@import "blocks/breadcrumbs";
@import "blocks/persons";
@import "blocks/cases";
@import "blocks/partner";
@import "blocks/text";
@import "blocks/hr";
@import "blocks/mentioning";
@import "blocks/services";
@import "blocks/check";
@import "blocks/qa";
@import "blocks/advantages";
@import "blocks/price";
@import "blocks/callback";
@import "blocks/warning";
@import "blocks/thanks";
@import "blocks/map";
@import "blocks/tags";
@import "blocks/person";
@import "blocks/comments";
@import "blocks/posts";
@import "blocks/quote";
@import "blocks/result";
@import "blocks/gallery";
@import "blocks/reviews";
@import "blocks/image";
@import "blocks/header";
@import "blocks/pagination";

@import "adaptive/adaptive";
