.page {
    &__inner {
        background: #e5e5e5;
        font-size: 17px;

        h1 {
            font-size: 34px;
        }

        h2 {
            font-size: 24px;
            text-transform: uppercase;
            margin-top: 0;
        }

        .hr + h2 {
            margin-top: 5px;
        }

        h3 {
            @apply text-primary;
            font-size: 20px;
            font-weight: 600;
            line-height: 1.1;
            margin-bottom: 20px;
        }

        h4 {
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 5px;
        }

        p {
            margin-bottom: 10px;
            line-height: 1.8;

            a {
                @apply text-primary;
                border-bottom: 1px solid;
            }
        }

        b, strong {
            font-weight: 700;
        }

        section {
            @apply pt-8;
        }

        blockquote {
            display: inline-block;
            position: relative;
            white-space: pre-line;
            font-size: 18px;
            letter-spacing: .3px;
            font-weight: 600;
            border-top: 1px solid #6f6f6f;
            border-bottom: 1px solid #6f6f6f;
            padding-top: 20px;
            padding-bottom: 20px;
            max-width: 600px;

            &:before {
                content: '';
                background-image: url('/img/top-quote.png');
                background-repeat: no-repeat;
                display: inline-block;
                width: 27px;
                height: 22px;
                position: absolute;
                left: -30px;
                top: -1px;
            }

            &:after {
                content: '';
                background-image: url('/img/down-quote.png');
                background-repeat: no-repeat;
                display: inline-block;
                width: 27px;
                height: 22px;
                position: absolute;
                right: -30px;
                bottom: -1px;
            }
        }

        ul, ol:not(.block__breadcrumbs) {
            margin-top: 10px;
            margin-bottom: 30px;
            max-width: 85%;

            &.list_unstyled {
                max-width: unset;
                width: 100%;

                li {
                    padding-left: 0;
                    margin-bottom: 0;

                    &:before {
                        display: none !important;
                    }
                }
            }

            &.flickity-enabled {
                margin-bottom: 24px;
            }

            li {
                line-height: 1.8;
                position: relative;
                padding-left: 20px;
                margin-bottom: 10px;
                word-break: break-word;

                &:before {
                    @apply bg-primary;
                    content: '';
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                    top: 9px;
                }

                a {
                    @apply text-primary;
                    border-bottom: 1px solid;
                }
            }

            ul, ol, .block__list {
                padding-left: 25px;
            }
        }

        ol:not(.block__breadcrumbs) {
            padding-left: 15px;
            counter-reset: item;

            li {
                padding-left: 0;

                &:before {
                    @apply text-primary;
                    //content: counters(item, ".") ". ";
                    content: counters(item, ".");
                    counter-increment: item;
                    position: relative;
                    left: -10px;
                    top: 0;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    display: inline-block;
                    background: #f1f1f1;
                    border-radius: 50%;
                    text-align: center;
                    font-weight: 700;
                }

                &::marker {
                    font-size: 18px;
                }

                .content {
                    margin-left: 10px;
                }
            }
        }

        table {
            width: 100% !important;
            margin-top: 25px;
            margin-bottom: 25px;
            border-bottom: 2px solid #eee;

            td {
                padding: 10px;
            }

            tr {
                &:nth-child(odd) {
                    background: #eee;
                }

                &:nth-child(1) {
                    td {
                        white-space: nowrap;
                    }
                }
            }

            p {
                margin: 0;
            }
        }

        .table {
            &__wrap {
                width: 100%;
                max-width: calc(100vw - 40px);
                overflow-x: auto;
            }
        }

        .cdx-marker {
            background-color: #fff9e1;
            font-weight: 500;
            padding: 3px 5px;
        }
    }

}

@media (max-width: 1024px) {
    .page {
        &__inner {
            h1 {
                font-size: 26px;
            }

            section {
                padding-left: 20px;
                padding-right: 20px;
            }

            blockquote {
                font-size: 16px;

                &:before {
                    background-color: #fff;
                    left: -10px;
                    top: -10px;
                }

                &:after {
                    background-color: #fff;
                    right: -10px;
                    bottom: -10px;
                }
            }

            ul, ol {
                max-width: unset;

                ul {
                    width: 100%;
                }
            }
        }
    }
}

@import "pages/default";
@import "pages/service";
@import "pages/contacts";
@import "pages/person";
@import "pages/posts";
@import "pages/cases";
@import "pages/history";
@import "pages/questions";
