.btn {
    &_primary {
        @apply font-semibold text-xl border-white border-2 w-full leading-normal text-center pb-1;
        max-width: calc(100% - 40px);

        &:hover {
            background: darken(#026f4f, 5%);
        }
    }

    &_main {
        @apply max-w-xs text-xl text-white bg-primary;
        transition: all .2s ease-in-out;

        &:hover {
            background: darken(#026f4f, 5%);
        }
    }

    &_outline {
        &_main {
            @apply max-w-xs text-xl text-primary bg-transparent border border-primary;
            transition: all .2s ease-in-out;

            &:hover {
                color: white;
                background: darken(#026f4f, 5%);
            }
        }
    }

    &_sm {
        width: 180px;
        padding: 0;
        z-index: 20;
        color: white;
        font-size: 14px !important;
        line-height: 30px;
        border-radius: 30px !important;
        border-color: #026f4f !important;
        transition: all .3s ease-in-out;
    }

    &_admin {
        @apply bg-blue-400;
        color: white;
        padding: 7px 15px;
        border-radius: 10px;

        &:hover {
            @apply bg-blue-500;
        }

        &.btn_sm {
            width: unset;
            padding: 3px 7px;
            line-height: 1.3;
        }
    }

    &_float {
        max-width: 90%;
        padding: 10px 20px;
        border-radius: 10px;
        font-size: 16px;
        line-height: 18px;
        color: white;

        &_wrap {
            position: fixed;
            z-index: 25;
            bottom: 5px;
            width: 100%;
        }

        svg {
            width: 20px;
            fill: white;
            float: left;
            margin-right: 5px;
        }
    }
}
