@import "~flickity/dist/flickity.min.css";

.flickity, .splide {
    li {
        & > a {
            color: unset !important;
            border-bottom: unset !important;
        }
    }

    &-page-dots {
        position: relative;
        //bottom: -50px;
        bottom: -28px;
        max-width: unset !important;
        padding-left: 0 !important;

        .dot {
            width: 10px;
            height: 10px;
            opacity: 1;
            border: 2px solid;
            @apply border-primary bg-primary;
            transition: all .2s ease-in-out;

            &.is-selected {
                background: transparent;
            }
        }
    }

    &-viewport {
        transition: height 0.2s;
    }

    &_white {
        .flickity {
            &-page-dots {
                .dot {
                    background: #fff;
                    border-color: white;

                    &.is-selected {
                        background: transparent;
                    }
                }
            }
        }

        .splide {
            &__arrow {
                color: white !important;
            }
        }
    }
}

.splide {
    &__arrows {
        position: relative;
        height: 28px;

        .splide__arrow {
            position: absolute;

            svg {
                height: 28px;
            }

            &--prev {
                left: 25px;
                transform: rotate(180deg);
            }

            &--next {
                right: 25px;
            }
        }
    }

    //
    //    &__pagination {
    //        width: 100%;
    //
    //        li {
    //            padding: 0 !important;
    //            margin-bottom: 0 !important;
    //
    //            &:before {
    //                display: none !important;
    //            }
    //        }
    //
    //        &__page {
    //            width: 10px;
    //            height: 10px;
    //            border-radius: 50%;
    //            margin-right: 10px;
    //            margin-left: 10px;
    //            @apply bg-primary border-2 border-primary;
    //
    //            &.is-active {
    //                background: transparent !important;
    //            }
    //        }
    //    }
    //
    //    &_white {
    //        .splide__pagination__page {
    //            background: white;
    //            border-color: white;
    //        }
    //    }
}

@media (max-width: 768px) {
    .flickity-page-dots {
        max-width: calc(100% - 180px) !important;
        margin: auto;
        height: 16px;
        overflow: hidden;
    }
    //.splide {
    //    &__arrow {
    //        &--prev {
    //            left: 8px;
    //        }
    //
    //        &--next {
    //            right: 8px;
    //        }
    //    }
    //}
}
