.container_small {
    overflow: hidden;
}

@media (min-width: 1180px) {
    .container_small {
        max-width: 970px;
        padding-left: 50px;
        padding-right: 50px;

        &._fw {
            padding-left: 25px;
            padding-right: 25px;
        }
    }
}
