.form-control {
    @apply rounded-3xl font-medium text-lg;
    line-height: 30px;
    padding: 10px 20px;
    width: 100%;

    &::placeholder {
        @apply text-grey-400;
    }
}

.form_round {
    @extend .contacts__form;

    &._loading {
        opacity: .5;
        pointer-events: none;
    }

    select {
        padding: 10px 10px 10px 15px;
        border: 1px solid #e5e5e5;
        width: 100%;
        background: #fff9e1;
    }
}
