@import "~jbox/dist/jBox.all.min.css";

@media (min-width: 768px) {
    .jBox-image-label {
        position: fixed;
        font-weight: 600;

        &-wrapper {
            top: calc(50% - 20px);
        }

        &.active {
            background: transparent !important;
        }
    }
}
