[data-show-more] {
    .btn {
        display: none;
    }
}

@media (max-width: 1024px) {
    [data-show-more] {
        max-height: 500px;
        overflow: hidden;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 40px;
            background: rgb(255, 255, 255);
            background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0) 100%);
        }

        &._open {
            max-height: unset;

            .btn {
                display: none;
            }
        }

        .btn {
            @apply bg-primary;
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
