
.page__cases {
    h1 {
        text-align: left;
        font-size: 30px;
        font-weight: 700;
    }

    &__total {
        color: #b7b7b7;
        font-size: 18px;
        padding-top: 15px;
        padding-bottom: 25px;
    }

    &__categories {
        .case {
            font-size: 18px;
            display: inline-block;
            padding: 6px 15px;
            background: #e2e2e2;
            border-radius: 6px;
            margin-right: 17px;
            margin-bottom: 10px;
            white-space: nowrap;
        }
    }

    &__case {
        display: flex;
        justify-content: flex-start;
        padding-top: 50px;
        padding-bottom: 50px;
        border-top: 1px solid #c4c4c4;

        &__number {
            color: #929292;
            font-size: 26px;
            font-weight: 700;
            padding-left: 20px;
            padding-right: 70px;
        }

        &__title {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 25px;
            padding-right: 10px;

            &._has-pdf {
                &:after {
                    content: 'pdf';
                    color: #fff;
                    font-size: 13px;
                    font-weight: 700;
                    text-transform: uppercase;
                    border-radius: 6px;
                    padding: 4px 8px;
                    background: #dd5d5d;
                    position: relative;
                    top: -2px;
                }
            }
        }

        &__properties {
            font-size: 17px;
            line-height: 1.7;

            &__name {
                font-weight: 600;
                min-width: 190px;
                margin-bottom: 5px;
            }
        }

        .block__author {
            width: 300px;

            &__about {
                p {
                    font-size: 15px;
                }
            }

            .w-20 {
                width: 60px;
            }

            .h-20 {
                height: 60px;
            }
        }
    }
}

.page_case {
    background: transparent;

    h1 {
        text-align: left;
        //    margin-top: 0;
        //    margin-bottom: 25px;
        //    font-size: 34px;
        //    font-weight: 700;
        //    text-align: left;
    }

    h2 {
        font-size: 24px;
        font-weight: 700;
        text-align: left;
        text-transform: none;
        margin-bottom: 10px;
    }

    .bg-grey-100 {
        padding: 50px 70px;
        margin-left: -50px;
        margin-right: -50px;
    }

    &__breadcrumbs {
        font-size: 18px;

        a {
            color: #222;
        }

        li {
            border: none !important;

            &:after {
                color: #c1c1c1 !important;
                top: 2px !important;
            }
        }
    }

    &__properties {
        border-bottom: none !important;

        tr {
            background: transparent !important;
        }

        td {
            line-height: 2;
            padding: 0 !important;
        }
    }

    &__review {
        padding-top: 25px !important;

        h2 {
            text-align: center;
        }

        .hr {
            padding-bottom: 0;
        }

        &__name {
            text-align: left !important;
        }

        &__title {
            margin-bottom: 30px !important;
        }
    }

    &__documents {
        &__carousel {
            width: 100%;
            max-width: unset !important;
        }

        &__preview {
            width: 100%;
            height: 500px;

            //&__name {
            //    font-size: 20px;
            //    font-weight: 600;
            //}
        }

        li {
            display: inline-block;
            position: relative;
            padding-left: 0 !important;
            margin-right: 10px;
            margin-left: 10px;
            width: calc(25% - 20px);
            height: 130px;
            overflow: hidden;
            cursor: pointer;

            &:first-child {
                margin-left: 0;
            }

            &:before {
                display: none !important;
            }

            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
}

.jBox-content {
    iframe {
        width: 95%;
        height: 100%;
        margin-left: 2.5%;
    }
}

@media(max-width: 1024px) {
    .page__cases {
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;

        &__case {
            &__number, &__person { //, &__title a {
                display: none;
            }

            &__properties {
                &__name {
                    min-width: 120px;
                }
            }
        }
    }

    .page_case {
        h1 {
            font-size: 26px;
        }

        &__breadcrumbs {
            font-size: 16px;
        }
    }
}
