.contacts {
    min-height: calc(100vh - 130px);
    border-right: 4px solid #e5e5e5;

    h2 {
        text-transform: none;
    }

    p.text-xl {
        margin-bottom: 5px;
    }

    &__map {
        min-height: 400px;
    }

    &__form {
        .fields {
            position: relative;
        }

        &.sent {
            .btn_sm {
                pointer-events: none;
                background: white !important;
                border-color: #e5e5e5 !important;
                color: #e5e5e5;
            }

            .sent_wrap {
                opacity: 1;
                pointer-events: all;
                transition: all .3s ease-in-out;
            }
        }

        .sent_wrap {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: #FFFCE4;
            z-index: 20;
            border-radius: 10px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            opacity: 0;
            pointer-events: none;

            span {
                font-size: 24px;
                font-weight: 600;
            }

            p {
                white-space: pre-wrap;
                font-size: 20px;
                color: #A0A0A0;
                line-height: 1.5;
            }
        }

        .form-control {
            border-radius: 0;
            border-right: 1px solid #e5e5e5;
            border-left: 1px solid #e5e5e5;
            border-bottom: 1px solid #e5e5e5;

            &:first-child {
                border-top: 1px solid #e5e5e5;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
            }
        }

        textarea.form-control, button.form-control {
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        button {
            line-height: 34px;
            font-size: 15px !important;
            max-width: 200px;
        }
    }

    &__name {
        font-size: 20px;
        //font-weight: bold;
        margin-top: -15px;
        margin-bottom: 15px !important;
    }
}

.page_contacts {
    overflow: hidden;
}

@media (max-width: 768px) {
    .contacts {
        min-height: unset;
        border: none;
    }

    .page_contacts {
        & > .container {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
