.page_default {
    h2 {
        @apply text-primary;
        position: relative;
        padding-top: 53px;
        font-size: 22px !important;

        &:before {
            content: '';
            display: inline-block;
            background-image: url('/img/lion_green.png');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 53px;
            height: 22px;
            position: absolute;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
