div.page__history {
    background: #fff;

    &__steps:not(.kkk) {
        ol {
            max-width: unset;
            padding-right: 5px;
            padding-left: 20px;

            & > li {
                margin-bottom: 0;
                padding-left: 40px;
                padding-bottom: 30px;
                border-left: 1px solid #CBCBCB;

                &:before {
                    @apply bg-primary;
                    content: counters(item, ".");
                    color: #fff;
                    font-size: 20px;
                    font-weight: 600;
                    position: absolute;
                    left: -20px;
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    line-height: 39px;
                    text-align: center;
                }

                h4 {
                    @apply text-primary;
                    font-size: 20px;
                    line-height: 1.4;
                    font-weight: 700;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 16px;
                    line-height: 1.3;
                    margin-bottom: 1.3em;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    &__now {
        max-width: 745px;
        line-height: 21px !important;
        margin-bottom: 0 !important;
    }

    &__features {
        &__feature {
            width: 100%;
            margin-left: 9px;
            margin-right: 9px;
            padding: 35px 28px;
            background: #F5F5F5;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        &__img {
            margin-bottom: 12px;
        }

        &__title {
            font-size: 16px;
            font-weight: 700;
            line-height: 1.3 !important;
            margin-bottom: 12px !important;
        }

        &__content p {
            color: #818181;
            font-size: 16px;
            line-height: 1.3;
        }
    }

    &__thanks {
        padding-left: 120px;
        padding-right: 120px;

        .thanks__carousel {
            .flickity-page-dots {
                bottom: -25px;
            }
        }

        .splide__arrows {
            top: -25px;
        }

        .thank {
            padding: 30px 35px;
            background: #F1F1F1;

            h5 {
                font-size: 18px;
                margin-top: 0;
            }

            &__text {
                font-size: 16px;
                line-height: 1.3;
                margin-bottom: 0;
                font-weight: 400;
            }
        }
    }

    &__certificates, &__thanks {
        .history__files-carousel__item {
            a {
                height: 190px;
                display: flex;
                border: none;

                img {
                    width: 100%;
                    object-fit: scale-down;
                }
            }
        }
    }

    &__thanks {
        .history__files-carousel {
            padding-bottom: 20px;
        }

        .history__files-carousel__item {
            a {
                height: 285px;
            }
        }
    }

    h1 {
        font-size: 34px;
        max-width: 500px;
        font-weight: 600;
        line-height: 41px;
        margin-top: -15px;
        margin-bottom: 30px;
    }

    .ds {
        p {
            font-size: 16px;
            line-height: 1.3;
        }
    }

}

@media(max-width: 768px) {
    .page__history__features {
        flex-wrap: wrap;

        &__feature {
            margin-bottom: 10px;
            margin-right: 0 !important;
            margin-left: 0 !important;
        }
    }
}
