.page_person {
    h2:not(.h-default) {
        text-align: left;
        text-transform: none;
        font-weight: 600;
    }

    &__face {
        //background-position: bottom -50px right -135px;
        background-position: bottom 0 right -135px;
        background-repeat: no-repeat;
        background-size: 380px;
        min-height: 330px;

        .block__text {
            max-width: 600px;
        }
    }

    &__position {
        font-size: 19px !important;
        margin-top: 20px;
        margin-bottom: 5px !important;
    }

    //&__quote {
    //    min-height: 185px;
    //}

    &__skills {
        margin-left: -10px;
        margin-right: -10px;

        &__skill {
            margin-left: 10px;
            margin-right: 10px;
            padding: 25px 20px;
            background: #F1F1F1;

            &__date {
                display: block;
                font-size: .9em;
                margin-bottom: 8px;
            }

            &__title {
                font-weight: 500;
                line-height: 1.3 !important;
                margin-bottom: 30px !important;
            }

            img {
                height: 64px;
            }
        }
    }

    &__cert {
        height: 280px;

        a {
            display: flex;
            height: 100%;
            justify-content: center;
            border: none !important;
        }

        img {
            height: 100%;
            object-fit: scale-down;
        }
    }

    &__news {
        padding-left: 0;
        padding-right: 0;

        h2 {
            font-size: 30px;
        }

        .page__posts__wrap {
            margin-top: 25px;
            margin-left: -12px;
            margin-right: -12px;
        }
    }

    .mentioning {
        margin-top: -15px;
    }

    .block__text {
        p, ul, ul li, ol li {
            font-size: 16px;
            line-height: 1.5;
        }
    }

    .page__history__thanks {
        padding-left: 70px;
        padding-right: 70px;
    }

    .block__breadcrumbs {
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    .page_person {
        &__face {
            padding-bottom: 200px;
            background-size: 290px auto;
            background-position: bottom 0px right -65px;
        }

        &__quote {
            min-height: unset;
        }

        .mentioning {
            margin-left: 0;
        }

        .page__history__thanks {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
