.page__posts {
  padding-top: 0;
  margin-top: -1px;

  &__wrap {
    margin-top: 50px;
  }
}

.page__post {
  background: #fff;

  &__related {
    padding-top: 0 !important;
    padding-bottom: 30px;

    p {
      line-height: 1.25;
    }

    & > .flex {
      margin-right: -0.75rem;
      margin-left: -0.75rem;
    }

    .block__post {
      &._small {
        //border: 1px solid #eee;
        //margin-bottom: 10px;
        padding: 3px 15px;
      }

      &__info {
        font-size: 14px;
      }
    }
  }

  &__comments {
    padding-top: 0 !important;

    &_add {
      padding-top: 0 !important;
    }
  }
}

.block__post {
  &:hover {
    .block__post__image {
      opacity: .9;
    }
  }

  &__info {
    display: flex;

    span {
      color: #a0a0a0;
      display: flex;
      align-items: center;
      margin-right: 15px;
      line-height: 10px;
    }

    svg {
      height: 15px;
      float: left;
      margin-right: 5px;
      fill: #a0a0a0;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    transition: all .3s ease-in-out;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      color: white;
    }
  }

  &._small {
    .block__post__image {
      height: 170px;
    }
  }
}

@media (max-width: 767px) {
  .block__post {
    &._small {
      .block__post__image {
        height: 54vw
      }

      & > div {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  .page__post {
    &__related {
      & > div > div {
        width: 100%;
      }
    }
  }
}
