
.page__questions {
    .page__cases__list {
        &._loading {
            pointer-events: none;
            opacity: .3;
        }
    }
}

.page__question {
    .page_case__properties {
        width: auto !important;

        .page__cases__case__properties__value {
            padding-left: 20px !important;
        }
    }

    .block__author .w-20 {
        width: 60px;
        height: 60px;
    }
}
