$bg_light: #F5F7F9;

.page_service {
    background: #fff;
    overflow: hidden;
    margin-top: -5px;

    & > div:first-child {
        padding-top: 5px;
    }

    .callback-form {
        .btn_main {
            margin-top: 20px;
        }
    }

    .external_link, .linkfacebook, figure.image {
        width: 85%;
        margin-left: 7.5%;
        border: 1px solid #ededed;
        border-radius: 10px;
        overflow: hidden;

        a {
            display: flex;
            flex-direction: column;
            border: none !important;
        }

        img {
            width: 100%;
            height: 350px;
            object-fit: cover;
        }

        .text, figcaption {
            @apply bg-grey-50;
            display: block;
            padding: 10px 20px;
            font-weight: 600;
            font-size: 18px;
            color: #333;
        }
    }

    .subcategory {
        background: #f1f1f1;
        border-top-width: 5px;

        &_title {
            font-size: 18px;
            line-height: 1.3;
            margin-bottom: 15px;
        }

        &_text {
            display: block;
            height: 41.59px;
            overflow: hidden;
            font-size: 16px;
            line-height: 1.3;
            margin-bottom: 15px;
        }

        &_link {
            font-size: 16px;
            padding-bottom: 2px;
            border-bottom: 1px solid;
        }
    }

    .review {
        a {
            display: inline-block;
            border: none;
            min-height: 400px;

            img {
                box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
            }
        }
    }

    figure.image {
        width: calc(50% - 30px);
        float: left;
        display: flex;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 10px;
        border-radius: 0;

        & > a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 160px;
            min-width: 160px;
            min-height: 90px;

            img {
                width: 80%;
                height: unset;
                object-fit: cover;
            }
        }

        figcaption {
            display: flex;
            align-items: center;
            background: transparent;
        }
    }
}

.block__service-header {
    padding: 45px 60px;
    background: url("/img/bg_lion.png") no-repeat, linear-gradient(268deg, #F0F0F0 0%, #C5C5C5 100%);
    background-position: right bottom;
    background-size: auto 90%, auto;

    &__body {
        max-width: 750px;
    }

    &__description {
        font-size: 16px;
        line-height: 1.4 !important;
        margin-bottom: 30px !important;
    }

    &__btn {
        display: inline-block;
        font-size: 16px;
        line-height: 1.4 !important;
        padding: 12px 30px;
    }

    h1 {
        font-size: 45px;
        font-weight: 600;
        line-height: 50px;
        text-align: left;
        margin-bottom: 10px;
    }
}

.page_service_long {
    &__header {
        position: relative;
        padding: 25px 35px;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: var(--person-image) no-repeat, url("/img/bg_lion_soft.png") no-repeat, $bg_light;
            background-position: right bottom;
            background-size: auto 90%, auto 90%, auto;
            //z-index: -1;
        }

        &__title {
            text-align: left;
            font-size: 45px;
            line-height: 54px;
            font-weight: 700;
            max-width: 500px;
            margin-top: 33px;
            margin-bottom: 25px;
        }

        &__comment {
            font-size: 17px;
            line-height: 28px;
            max-width: 680px;
            margin-bottom: 20px;
        }

        &__wrap {
            background: $bg_light;
            //z-index: -1;
        }

        &__z1 {
            position: relative;
            //z-index: 10;
        }

        .block__breadcrumbs {
            margin-top: 0;

            li.breadcrumb-item {
                border: none;
                font-size: 17px;
                margin-right: 30px;

                &:after {
                    @apply text-primary;
                    right: -19px;
                }
            }
        }

        .form-control {
            display: inline-block;
            padding: 0 30px;
            line-height: 46px;
            font-size: 16px;
            width: unset;
            border-radius: 5px;
            margin-right: 12px;
        }

        .btn_outline_main {
            line-height: 44px;
        }
    }

    &__features {
        display: flex;
        justify-content: space-between;

        &__feature {
            max-width: 205px;
        }

        &__icon {
            padding: 13px;
            background: $bg_light;
            display: inline-block;
        }

        &__title {
            display: block;
            font-size: 20px;
            font-weight: 700;
            line-height: 27px;
            margin-top: 17px;
        }

        &__description {
            font-size: 18px;
            margin-top: 7px;
            display: inline-block;
        }
    }

    &__about {
        display: flex;

        &__main {
            margin-right: 20px;
            background: $bg_light;
            width: calc(100% - -140px);
        }

        &__title {
            @apply text-primary;

            text-align: left;
            font-weight: 700;
            font-size: 30px;
            line-height: 50px;
        }

        &__content {
            font-size: 18px;
            line-height: 30px;
        }

        &__features {
            background: $bg_light;

            &__title {
                font-size: 18px;
                font-weight: 700;
                line-height: 33px;
                margin-bottom: 15px;
            }

            &__items {
                li {
                    position: relative;
                    margin-bottom: 25px;
                    padding-left: 25px;
                    font-size: 18px;

                    &:before {
                        content: '';
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        background: url('/img/features/new/check.svg') no-repeat;
                        background-size: 100%;
                        margin-right: 8px;
                        position: absolute;
                        top: 8px;
                        left: 0;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    &__services {
        margin-bottom: 40px;

        &__list {
            display: flex;
            flex-wrap: wrap;
            gap: 32px;
        }

        &__service {
            padding: 22px;
            position: relative;
            background: $bg_light;
            width: calc(25% - 24px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &:after {
                content: '';
                height: 5px;
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background: linear-gradient(90.01deg, #026F4F -22.26%, #42C09B 101.68%);
            }

            &__title {
                @apply text-primary;
                margin-bottom: 17px;
            }

            &__link {
                @apply text-primary border-primary border-b;

                font-size: 16px;
                display: inline-block;
            }
        }
    }

    &__persons {
        &__list {
            margin-bottom: 70px;
        }

        &__wrap {
            background: $bg_light;

            .flickity-page-dots {
                display: flex;
                bottom: 2px;

                .dot {
                    background: #D9D9D9;
                    border: none;
                    flex-grow: 1;
                    height: 2px;
                    border-radius: 0;
                    margin: 0;

                    &.is-selected {
                        //@apply bg-primary;
                    }
                }
            }

            .flickity-slider {
                z-index: 3;
            }
        }

        &__person {
            width: 125px;
            margin-right: 25px;
            cursor: pointer;

            &__img {
                @apply border border-primary;

                width: 90px;
                height: 90px;
                display: flex;
                margin-bottom: 7px;
                pointer-events: none;

                img {
                    height: 100%;
                    object-fit: cover;
                }
            }

            &__name {
                height: 70px;
                font-size: 15px;
                font-weight: 700;
                pointer-events: none;
            }

            &__position {
                margin-bottom: 20px;
                font-size: 15px;
                color: #757575;
            }

            & > a {
                display: inline-block;
                position: relative;
                padding-bottom: 0;

                &._current {
                    &:after {
                        content: '';
                        display: block;
                        height: 2px;
                        background: green;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        left: 0;
                    }
                }
            }
        }

        &__current {
            background: #fff;
            display: flex;
            justify-content: space-between;
            margin-bottom: 80px;

            &__photo {
                @apply border border-primary;

                width: 200px;
                height: 200px;
                display: flex;

                &__wrap {
                    padding: 20px;
                }

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }

            &__info {
                padding: 20px;

                &__wrap {
                    display: flex;
                }
            }

            &__name {
                @apply text-primary;

                display: block;
                font-size: 24px;
                font-weight: 700;
                line-height: 28px;
                margin-bottom: 17px;
            }

            &__post {
                color: #757575;
                font-size: 15px;
                line-height: 25px;
                margin-bottom: 25px;
                white-space: pre-line;
            }

            &__title {
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 15px;
            }

            &__list {
                ul {
                    font-size: 15px;
                    list-style: disc;
                    padding-left: 17px;
                    margin-bottom: 15px;

                    li {
                        margin-bottom: 10px;
                    }
                }
            }

            &__callback {
                padding: 20px;
                display: flex;
                flex-direction: column;
                border: 1px solid #B9B9B9;
                background: $bg_light;
                max-width: 405px;
                width: 100%;

                &__title {
                    @apply text-primary;

                    font-size: 24px;
                    font-weight: 700;
                    line-height: 28px;
                    margin-bottom: 20px;
                }

                &__time {
                    white-space: pre-line;
                    margin-bottom: 35px;
                }

                &__buttons {
                    height: 41px;
                    margin-bottom: 15px;
                }

                &__btn {
                    @apply text-primary border border-primary;

                    cursor: pointer;
                    padding: 10px 20px;
                    transition: all .2s ease-in-out;

                    &:hover {
                        @apply bg-primary;

                        color: #fff;
                    }

                    &._primary {
                        @apply bg-primary;

                        color: #fff;

                        &:hover {
                            opacity: .9;
                        }
                    }
                }
            }
        }

        &__features {
            gap: 10px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;

            &__title {
                text-align: center;
            }
        }

        &__feature {
            background: #fff;
            text-align: center;
            padding: 30px 45px;
            width: calc(33% - 6.5px);

            &__header {
                font-size: 50px;
                font-weight: 700;
                line-height: 60px;
                margin-bottom: 5px;
            }

            &__title {
                font-size: 30px;
                font-weight: 700;
                line-height: 36px;
                margin-bottom: 17px;
            }

            &__text {
                color: #999;
                font-size: 16px;
                line-height: 28px;
            }
        }

        &_full {
            .page_service_long__persons__person {
                &__name {
                    height: auto;
                    margin-bottom: 5px;
                }
            }

            .flickity-viewport {
                height: 212px;
            }
        }
    }

    &__cases {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;

        &__col1 {
            width: 360px;
        }

        &__col2 {
            width: 290px;
        }

        &__col3 {
            width: 425px;
        }

        &__case {
            &__title {
                display: block;
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 15px;
            }

            &__content {
                overflow: hidden;
                font-size: 16px;
                max-height: 200px;
                position: relative;

                //&:before {
                //    content: '';
                //    height: 60px;
                //    width: 100%;
                //    position: absolute;
                //    top: 140px;
                //    left: 0;
                //    background: rgba(255, 255, 255, 0);
                //    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
                //}
            }

            &__files {
                display: flex;
                margin-top: 10px;

                img {
                    height: 25px;
                    margin-right: 5px;
                }
            }

            &__person {
                display: flex;
                margin-top: 50px;
                align-items: center;

                &__image {
                    @apply border border-primary;

                    display: flex;
                    height: 65px;
                    width: 65px;
                    margin-right: 15px;
                    border-radius: 50%;
                    overflow: hidden;

                    img {
                        height: 100%;
                        object-fit: cover;
                    }
                }

                &__name {
                    @apply text-primary;

                    font-weight: 700;
                    font-size: 18px;
                }

                &__link {
                    @apply text-primary;

                    font-size: 16px;
                    margin-top: 15px;
                    display: inline-block;

                    svg {
                        width: 15px;
                        float: right;
                        margin-top: 6px;
                        margin-left: 10px;
                    }
                }
            }

            &._small {
                margin-bottom: 55px;

                .page_service_long__cases__case {
                    &__title {
                        font-size: 16px;
                    }

                    &__content {
                        font-size: 15px;
                        max-height: 70px;

                        &:before {
                            top: 50px;
                            height: 20px;
                        }
                    }
                }
            }
        }

        &__list {
            padding: 20px;
            margin-top: -20px;
            background: $bg_light;

            &__title {
                @apply text-primary;

                font-size: 16px;
                font-weight: 700;
                margin-bottom: 10px;
            }

            ul {
                list-style: disc;
                padding-left: 20px;

                li {
                    font-size: 16px;
                    margin-bottom: 20px;
                }
            }
        }

        &__more {
            padding: 20px;
            margin-top: 20px;
            background: $bg_light;

            a {
                @apply text-primary;
                overflow: hidden;
                display: block;

                span {
                    float: left;
                    font-size: 20px;
                    font-weight: 700;
                    margin-right: 10px;
                }

                svg {
                    float: left;
                    width: 18px;
                    position: relative;
                    top: 8px;
                }
            }
        }
    }

    &__content {
        padding: 60px 0;

        &__wrap {
            background: $bg_light;
            overflow: hidden;
        }

        &__block {
            padding: 40px;
            background: #fff;
            border-top: 2px solid #E9E9E9;
            border-bottom: 2px solid #E9E9E9;

            h3 {
                color: #000;
                font-size: 24px !important;
                margin-bottom: 20px !important;
            }

            p, ul, h3 {
                padding-right: 200px;
            }

            code {
                margin-right: -200px;
            }

            ul {
                margin-top: 20px;

                li {
                    &:before {
                        top: 11px;
                        width: 6px;
                        height: 6px;
                        background: #000;
                    }
                }
            }

            code {
                display: block;
                font-family: unset;
                padding: 30px 35px;
                background: $bg_light;
                border-top: 2px solid #D1D1D1;
                margin-top: 35px;
            }

            p {
                iframe {
                    margin-left: unset;
                    margin-right: unset;
                }
            }

            table {
                border-bottom: none;
                margin-top: 10px;
                margin-bottom: 10px;

                tr {
                    &:nth-child(odd) {
                        background: unset;
                    }

                    &:nth-child(even) {
                        background: $bg_light;
                    }
                }
            }
        }

        &__links {
            //display: flex;
            margin-bottom: 32px;
        }

        &__link {
            font-size: 18px;
            padding: 15px 25px;
            margin-right: 12px;
            margin-bottom: 8px;
            background: #E3E7EA;
            border-radius: 50px;
            transition: all .2s ease-in-out;
            cursor: pointer;
            white-space: nowrap;

            &:hover {
                background: darken(#E3E7EA, 5%);
            }

            &._active {
                background: darken(#E3E7EA, 10%);
            }
        }

        &__wrapped {
            margin-top: 20px;
            margin-bottom: -40px;

            &__item {
                max-height: 72px;
                overflow: hidden;
                border-top: 2px solid #E9E9E9;

                &__title {
                    font-size: 24px !important;
                    font-weight: 700 !important;
                    line-height: 72px;
                    text-transform: none !important;
                    margin: 0 !important;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;

                    svg {
                        path {
                            stroke: #757575;
                        }
                    }
                }

                &._open {
                    max-height: 1000px;

                    svg {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }

    &__reviews {
        &__subtitle {
            color: #757575;
            margin-bottom: 20px;
        }

        &__carousel {
            width: 100%;
            height: 226px;

            &._yandex {
                height: unset;
            }

            &._hide_category {

                .page_service_long__reviews__review {

                    &__text {
                        margin-bottom: 15px;
                    }

                    &__footer {
                        display: none;
                    }
                }
            }

            .flickity-viewport {
                overflow: visible;
            }

            .splide__slide {
                width: 120px;
                height: 210px;
                margin-right: 15px;

                a {
                    display: flex;
                    height: 100%;
                    width: 100%;
                }

                img {
                    height: 100%;
                    object-fit: cover;
                }
            }

            .flickity-page-dots {
                display: none;
            }
        }

        &__review {
            width: unset !important;
            height: unset !important;
            margin-right: 15px !important;
            padding: 30px;
            background: #fff;

            &__header {
                display: flex;
                margin-bottom: 23px;

                &__wrap {
                    display: flex;
                    flex-direction: column;
                }
            }

            &__img {
                width: 50px;
                line-height: 50px;
                text-align: center;
                font-weight: 700;
                font-size: 25px;
                background: $bg_light;
                border-radius: 50%;
                margin-right: 10px;
            }

            &__name {
                font-weight: 700;

                span {
                    color: #757575;
                    font-size: 15px;
                    font-weight: 400;
                    margin-left: 10px;
                }
            }

            &__stars {
                display: flex;
                margin-top: 5px;

                svg {
                    fill: #ffc107;
                    width: 16px;
                    height: 16px;
                    margin-right: 3px;
                }
            }

            &__text {
                font-size: 15px;
                width: 300px;
                margin-bottom: 60px;

                &__more {
                    @apply text-primary;
                    cursor: pointer;
                }

                &__hidden {
                    display: none;
                }

                &._full {
                    display: none;
                }
            }

            &__footer {
                font-size: 15px;

                &__case {
                    max-width: 300px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    display: inline-block !important;
                }

                &__service {
                    max-width: 220px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    display: inline-block !important;
                }

                a {
                    @apply text-primary;
                }

                span {
                    margin-right: 5px;
                }
            }
        }

        &_yandex {
            &__link {
                @apply border border-primary text-primary;

                display: inline-block;
                padding: 0 23px;
                border-radius: 5px;
                margin-top: 5px;
                margin-bottom: 60px;
                min-width: 175px;
                line-height: 56px;
                text-align: center;
                transition: all .2s ease-in-out;
                cursor: pointer;

                &:hover {
                    @apply bg-primary;

                    color: #fff;
                }
            }

            &__header {
                display: flex;
                justify-content: space-between;
                margin-bottom: 40px;

                &__rating {
                    display: flex;
                    align-items: center;

                    &__number {
                        color: #4D4D4D;
                        font-size: 20px;
                        font-weight: 700;
                        margin-right: 8px;
                    }

                    &__stars {
                        display: flex;
                        margin-right: 12px;

                        svg {
                            fill: #ffc107;
                            width: 16px;
                            height: 16px;
                            margin-right: 3px;
                        }
                    }

                    &__link {
                        display: flex;
                        color: #757575;
                        font-size: 18px;
                        align-items: center;

                        svg {
                            margin-left: 8px;
                        }
                    }
                }

                &__btn {
                    display: flex;
                    padding: 5px 8px;
                    border-radius: 5px;
                    transition: all .2s ease-in-out;
                    cursor: pointer;

                    &:hover {
                        background: white;
                    }

                    img {
                        height: 26px;
                        margin-right: 8px;
                    }
                }
            }

            button.splide__arrow {
                top: -260px;
            }
        }
    }

    &__recommendations {
        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__item {
            padding: 25px;
            width: calc(50% - 10px);
            background: $bg_light;
            margin-bottom: 25px;
            position: relative;

            &__title {
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 22px;
                max-width: 385px;
            }

            &__text {
                font-size: 16px;
                max-width: calc(100% - 120px);
            }

            &__number {
                font-size: 150px;
                font-weight: 700;

                &__wrap {
                    position: absolute;
                    right: 0;
                    top: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 120px;
                    color: #DADDE0;
                }
            }

            &._important {
                width: 100%;
            }
        }
    }

    &__social {
        &__subtitle {
            margin-top: -30px;
            margin-bottom: 60px;
            color: #757575;
        }

        .partner__item {
            background: #fff;

            &__title {
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 17px;
            }

            &__source {
                display: flex;

                &__name {
                    font-size: 15px;
                    white-space: pre-line;
                }

                img {
                    margin-right: 10px;
                }
            }

            .flex {
                flex-direction: column;
            }
        }

        iframe, ._img {
            height: 215px;
            max-width: 100%;
            margin-bottom: 15px;
            object-fit: cover;
        }

        h2 {
            display: flex;
            align-items: center;
            cursor: pointer;

            svg {
                margin-left: 12px;
                position: relative;
                top: 5px;
            }
        }

        .flickity-viewport {
            overflow: visible;
        }
    }

    &__faq {
        background: $bg_light;

        &__tags {
            display: flex;
            flex-wrap: wrap;
        }

        &__tag {
            background: #fff;
            font-size: 18px;
            padding: 10px 18px;
            margin-right: 8px;
            margin-bottom: 8px;
            border-radius: 30px;
            cursor: pointer;
            transition: all .2s ease-in-out;

            &:hover {
                background: darken(#E3E7EA, 5%);
            }

            &._active {
                background: darken(#E3E7EA, 10%);
            }
        }

        &__list {
            background: #fff;
            padding-left: 35px;
            margin-top: 50px;
            max-width: calc(100% - 315px);
            border-left: 4px solid #C8C8C8;

            &_wrap {
                display: flex;
                justify-content: space-between;
            }
        }

        &__add {
            width: 300px;
            margin-top: 50px;
            padding: 15px 20px;
            display: flex;
            flex-direction: column;
            background: #fff;

            &__count {
                font-size: 20px;
                margin-bottom: 5px;
            }

            .btn {
                @apply text-primary border border-primary;

                width: 100%;
                max-width: unset;
                margin-top: 7px;
                line-height: 46px;
                cursor: pointer;
                border-radius: 5px;
                font-size: 16px;
                font-weight: 400;
                padding: 0;
                transition: all .2s ease-in-out;

                &:hover {
                    @apply bg-primary;

                    color: #fff;
                }

                &._green {
                    @apply bg-primary;

                    color: #fff;

                    &:hover {
                        opacity: .9;
                    }
                }
            }
        }

        &__item {
            position: relative;
            margin-left: -4px;
            padding-top: 25px;
            padding-right: 20px;
            padding-bottom: 25px;
            border-bottom: 1px solid #E9E9E9;

            &__title {
                font-size: 20px;
                font-weight: 700;
                line-height: 28px;
                margin-bottom: 15px;
            }

            &__text {
                font-size: 17px;
            }

            &._active {
                &:before {
                    @apply bg-primary;

                    content: '';
                    position: absolute;
                    left: -35px;
                    top: 0;
                    display: inline-block;
                    width: 4px;
                    height: 100%;
                }
            }
        }

        &__link {
            @apply text-primary;

            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            line-height: 65px;
            text-align: center;
            width: 100%;

            svg {
                width: 20px;
                margin-left: 15px;
                position: relative;
                top: 2px;
            }
        }
    }

    &__photos {
        padding-bottom: 0;

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        &__photo {
            display: flex;
            width: 140px;
            height: 140px;
            overflow: hidden;
            margin-bottom: 7px;

            img {
                width: 100%;
                object-fit: cover;
            }

            &._link {
                position: relative;

                &:after {
                    content: attr(data-text);
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    color: #fff;
                    background: rgba(#000, .6);
                    text-align: center;
                    line-height: 19px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 20px;
                    transition: all .3s ease-in-out;
                }

                &:hover {
                    &:after {
                        background: rgba(#000, .8);
                    }
                }
            }
        }
    }

    &__prices {
        background: $bg_light;

        &__item {
            font-size: 20px;
            font-weight: 700;
            border-bottom: 1px solid #E9E9E9;

            &__name {
                width: 700px;
                max-width: 100%;
            }

            &:last-child {
                border: none;
            }

            td {
                padding: 17px 0;
            }

            .btn {
                width: 175px;
                font-size: 16px;
                line-height: 46px;
                font-weight: 400;
                display: inline-block;
                border-radius: 5px;
                text-align: center;
                float: right;

                &._mobile {
                    display: none;
                }
            }
        }

        &__list {
            width: 100%;
            margin-bottom: 20px;
        }

        .table__wrap {
            padding: 0 33px;
            background: #fff;
        }
    }

    &__callback {
        display: flex;
        align-items: center;
        flex-direction: column;

        &__title {
            font-size: 25px !important;
            text-align: center !important;
            margin-bottom: 45px !important;
            margin-top: 20px;
        }

        &__list {
            display: flex;
            justify-content: center;
            margin-bottom: 40px;
        }

        &__step {
            text-align: center;
            padding-left: 25px;
            padding-right: 25px;
            position: relative;

            &__number {
                width: 34px;
                line-height: 34px;
                background: $bg_light;
                border-radius: 50%;
                display: inline-block;
                text-align: center;
                font-weight: 700;

                &__wrap {
                    padding-left: 40px;
                    padding-right: 40px;
                }
            }

            &__title {
                font-size: 18px;
                font-weight: 700;
                margin-top: 12px;
                margin-bottom: 6px;
            }

            &__text {
                color: #757575;
                max-width: 185px;
                white-space: pre-line;
            }

            &:after {
                content: '';
                height: 1px;
                width: 114px;
                background: #E6E8EA;
                display: block;
                position: absolute;
                right: -57px;
                top: 16px;
                z-index: -1;
            }

            &:last-child:after {
                display: none;
            }
        }

        &__form {
            width: 100%;
            max-width: 520px;
            position: relative;

            &__agreement {

            }
        }

        .sent_wrap {
            display: none;
        }

        .form-control {
            padding: 28px 18px;
            background: $bg_light;
            margin-bottom: 16px;
            font-size: 17px;
            border-radius: 5px 5px 0 0;
            border-bottom: 1px solid #D7D7D7;

            &::placeholder {
                color: #757575;
            }
        }

        .btn {
            @apply bg-primary;

            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding-top: 0;
            padding-bottom: 0;
            line-height: 64px;
            border: none;
            color: #fff;
            border-radius: 5px;
            transition: all .2s ease-in-out;

            &:hover {
                background: darken(#026f4f, 3%);
            }

            svg {
                margin-right: 12px;
            }
        }

        .checkbox {
            transition: all .2s;

            &__wrap {
                font-size: 14px;
                display: block;
                margin-top: 14px;
                margin-bottom: 30px;
                position: relative;
                padding-left: 28px;
                cursor: pointer;

                input {
                    top: 16px;
                    left: 7px;
                    position: absolute;
                    width: 1px;
                    height: 1px;
                    opacity: 0.01;

                    &:checked {
                        & + .checkbox {
                            &:after, &:before {
                                @apply border-primary;
                            }
                        }
                    }
                }
            }

            &:hover {
                &:before {
                    background: darken($bg_light, 3%);
                }
            }

            &:before {
                content: '';
                width: 14px;
                height: 14px;
                margin-right: 14px;
                display: inline-block;
                position: absolute;
                top: 4px;
                left: 0;
                border-radius: 2px;
                border: 1px solid #B3B3B3;
                background: $bg_light;
                transition: all .2s;
            }

            &:after {
                content: '';
                width: 6px;
                height: 6px;
                display: block;
                transform: rotate(225deg);
                position: absolute;
                top: 7px;
                left: 4px;
                border: 2px solid #B3B3B3;
                border-bottom: none;
                border-right: none;
            }
        }
    }

    &__related {
        background: $bg_light;

        &__title {
            margin-top: 30px !important;
            text-align: center;
        }

        &__categories {
            display: flex;
            border-bottom: 1px solid #D9D9D9;

            &__wrap {
                display: flex;
                justify-content: center;
                margin-bottom: 45px;
            }

            &__item {
                padding-left: 30px;
                padding-right: 30px;
                line-height: 55px;
                font-size: 20px;
                margin-bottom: -2px;
                border-bottom: 2px solid rgba(0, 0, 0, 0);
                transition: all .2s ease-in-out;
                cursor: pointer;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }

                &:hover {
                    @apply text-primary;
                }

                &._active {
                    @apply text-primary border-primary;
                }

            }
        }

        &__services {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 20px;

            &__item {
                display: block;
                font-size: 18px;
                padding: 0 30px;
                line-height: 60px;
                background: #fff;
                border-radius: 30px;
                margin: 0 6px 10px;
            }
        }
    }

    &__contacts {
        padding: 40px;
        position: absolute;
        top: 60px;
        background: #fff;


        &__wrap {
            position: relative;
        }

        &__title {
            margin-top: 0 !important;
            margin-bottom: 25px !important;
        }

        &__map {
            height: 640px;
        }

        &__item {
            margin-bottom: 20px;

            &__title {
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 5px;
            }

            &__social {
                display: flex;

                svg {
                    width: 26px;
                    height: 26px;
                }
            }

            &__r {
                display: flex;
                align-items: center;
                padding-left: 25px;

                a {
                    padding: 5px;
                }

                ._telegram svg {
                    fill: #029be5;
                }

                ._whatsapp svg {
                    fill: #2aa81b;
                }
            }

            a {
                display: block;
            }
        }

        &__link {
            @apply bg-primary;

            display: flex;
            font-size: 18px;
            font-weight: 700;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: unset;
            padding-top: 0;
            padding-bottom: 0;
            margin-top: 30px;
            line-height: 60px;
            border: none;
            color: #fff;
            border-radius: 5px;
            transition: all 0.2s ease-in-out;
            cursor: pointer;
        }
    }

    h2 {
        font-size: 45px;
        font-weight: 700;
        text-align: left;
        margin-bottom: 35px;
    }

    h3 {
        font-size: 30px;
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 36px;
    }

    .splide__arrow {
        top: -160px;
        width: 46px;
        height: 46px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        box-shadow: 0 0 13px rgba(198, 198, 198, 0.25);
        transition: all .2s ease-in-out;

        &--prev {
            left: -66px;
        }

        &--next {
            right: -66px;
        }

        &:hover {
            background: $bg_light;
        }

        svg {
            fill: #000;
            height: 24px;
        }
    }

    ._tab {
        display: none;

        &._active {
            display: block;
        }

        &._loading {
            position: relative;
            min-height: 550px;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background: #fff;
                border-radius: 10px;
                transition: all .3s;
                z-index: 50;
            }
        }
    }
}

.modal-review {
    width: 500px;
    max-width: 90vw;

    &._open {
        display: flex !important;
        align-items: center;

        .page_service_long__reviews__review {
            &__text {
                display: none;

                &._full {
                    display: block !important;
                    margin-bottom: 30px;
                }
            }

            &__text, &__footer__case {
                width: 500px;
                max-width: 400px;
            }

            &__footer__service {
                max-width: 320px;
            }
        }
    }

    .jBox-content {
        padding: 30px;
        //font-size: 15px;
        line-height: 1.5;
    }
}

@media(max-width: 1280px) {
    .page_service_long {
        .splide__arrow {
            &--next {
                right: 0;
            }

            &--prev {
                left: 0;
            }
        }
    }
}

@media (max-width: 992px) {
    .page_service_long {
        &__header {
            padding-bottom: 200px;

            &__title {
                font-size: 32px;
                line-height: 1.2;
                margin-bottom: 20px;
            }

            &__comment {
                margin-bottom: 100px;
            }

            &__buttons {
                display: none;
            }

            &:before {
                background-position: right -150px bottom;
                background-position-x: center;
                background-size: auto 300px, auto 60%, auto;
            }

            &._no-photo {
                padding-bottom: 40px;

                .page_service_long__header__comment {
                    margin-bottom: 10px;
                }
            }

            .block__breadcrumbs {
                padding-left: 0;

                .li.breadcrumb-item {
                    font-size: 14px;
                }
            }

            .form-control {
                width: 100%;
                text-align: center;
                margin-bottom: 15px;

                &.btn_outline_main {
                    background: $bg_light;
                }
            }
        }

        &__features {
            width: calc(100% - 30px);
            flex-wrap: wrap;
            flex-direction: column;
            padding-bottom: 5px;
            padding-top: 15px;
            margin-left: 15px;
            margin-top: -20px;
            margin-bottom: 20px;
            background: #fff;
            position: relative;
            z-index: 10;
            border-radius: 20px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

            &__icon {
                display: none;
            }

            &__feature {
                width: 100%;
                max-width: unset;
                margin-bottom: 15px;
                padding-right: 10px;
                padding-left: 10px;
            }

            &__description {
                font-size: 14px;
            }

            &__callback {
                padding-top: 15px;
                padding-left: 10px;
                padding-right: 10px;

                .btn_main {
                    width: 100%;
                    display: block;
                    margin-bottom: 20px;
                    border-radius: 20px;
                    text-align: center;
                    max-width: unset;
                    line-height: 34px;
                }
            }
        }

        &__about {
            flex-direction: column;
            padding-right: 0;
            padding-left: 0;

            &__main {
                margin-right: 0;
                width: 100%;
            }
        }

        &__services {
            padding-left: 20px;
            padding-right: 20px;

            &__list {
                margin-right: -10px;
                margin-left: -10px;
                flex-wrap: wrap;
                gap: 16px;
            }

            &__service {
                width: calc(50% - 8px);
                border-radius: 20px;
                align-items: center;
                justify-content: center;
                //text-align: center;
                //box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
                background: #F5F7F9;
                overflow: hidden;

                &__link {
                    text-decoration: none;
                }

                &__title {
                    margin-bottom: 0;
                }

                &:after {
                    display: none;
                }

                div {
                    width: 100%;
                    text-align: left;
                    font-size: 14px;
                    margin-top: 10px;

                    a {
                        font-size: 14px;
                    }
                }
            }
        }

        &__persons {
            padding-left: 20px;
            padding-right: 20px;

            &__current {
                flex-direction: column;
                margin-right: -20px;
                margin-left: -20px;
                margin-bottom: 60px;

                &__info {
                    &__wrap {
                        flex-direction: column;
                    }
                }

                &__callback {
                    border: none;
                    padding-top: 0;
                    background: transparent;

                    &__title, &__time {
                        display: none;
                    }

                    &__btn {
                        width: 100%;
                        display: block;
                        text-align: center;
                    }
                }
            }

            &__list {
                margin-bottom: 20px;
            }

            &__features {
                //flex-direction: column;
                //margin-right: -10px;
                //margin-left: -10px;
                display: block;

                &__wrap {
                    margin-left: -15px;
                    margin-right: -15px;

                    .flickity-button, .flickity-page-dots {
                        display: none;
                    }
                }
            }

            &__feature {
                padding: 0 5px;
                height: 260px;
                width: 80%;
                background: transparent;
                overflow: hidden;

                &__wrap {
                    background: #fff;
                    padding: 30px 10px;
                }

                &__title {
                    font-size: 27px;
                    margin-bottom: 12px;
                }
            }
        }

        &__cases {
            flex-direction: column;

            &__case {
                &__title {
                    font-size: 18px;
                    margin-bottom: 10px;
                }

                &._big {
                    margin-bottom: 25px;
                    padding-bottom: 20px;
                    border-bottom: 1px solid darken($bg_light, 5%);
                }

                &._small {
                    margin-bottom: 25px;
                    padding-bottom: 20px;
                    border-bottom: 1px solid darken($bg_light, 5%);
                }
            }

            &__list {
                margin-top: -26px;
            }

            &__col1, &__col2, &__col3 {
                width: 100%;
            }
        }

        &__content {
            padding: 40px 20px 0;

            &__links {
                //flex-wrap: wrap;
                margin-bottom: 20px;
            }

            &__link {
                font-size: 14px;
                padding-top: 14px;
                padding-bottom: 14px;
            }

            &__block {
                margin-left: -20px;
                margin-right: -20px;
                padding-left: 20px;
                padding-right: 20px;

                p, ul, h3 {
                    padding-right: 0;
                }

                code {
                    margin-right: 0;
                }
            }

            &__wrapped {
                &__item {
                    &__title {
                        height: 72px;
                        font-size: 16px !important;
                        line-height: 1.2 !important;

                        svg {
                            width: 22px;
                            margin-right: 5px;
                        }
                    }

                    &__text {
                        p {
                            font-size: 16px;
                            line-height: 1.4;
                        }
                    }
                }
            }
        }

        &__reviews {
            &_yandex {
                &__header {
                    flex-direction: column;

                    &__rating {
                        &__link {
                            font-size: 14px;
                            text-align: right;
                        }
                    }

                    &__btn {
                        font-size: 14px;
                        margin-top: 5px;

                        img {
                            height: 22px;
                        }
                    }
                }

                &__link {
                    width: 100%;
                }
            }
        }

        &__recommendations {
            &__list {
                display: block;

                .flickity-page-dots {
                    .dot {
                        border-color: #dadde0;
                        background-color: #fff;

                        &.is-selected {
                            background-color: #dadde0;
                        }
                    }
                }
            }

            &__item {
                width: 90%;
                margin-right: 10px;

                &__number {
                    font-size: 100px;

                    &__wrap {
                        width: 90px;
                        height: 90%;
                        align-items: flex-end;
                    }
                }

                //&__title {
                //    &__wrap {
                //        display: flex;
                //        align-items: center;
                //        min-height: 94.5px;
                //    }
                //}

                &__text {
                    max-width: calc(100% - 70px);

                    &__wrap {
                        //max-height: 168px;
                        overflow: hidden;
                    }

                    ._more {
                        @apply text-primary;
                    }

                    ._text-more {
                        display: none;
                    }
                }

                &:nth-child(2) {
                    .page_service_long__recommendations__item__title {
                        font-size: 20px;
                    }
                }

                &:nth-child(4) {
                    .page_service_long__recommendations__item__title {
                        font-size: 21px;
                    }
                }
            }

            h2 {
                padding-left: 10px;
            }
        }

        &__social {
            h2 {
                padding-left: 10px;
                padding-right: 10px;

                svg {
                    width: 22px;
                }
            }

            .partner__item {
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        &__faq {
            &__list {
                max-width: unset;
                margin-left: -10px;
                margin-right: -10px;
                padding-right: 35px;
                border: none;

                &__wrap {

                }
            }

            &__tag {
                font-size: 14px;
                cursor: pointer;
            }

            &__add_wrap {
                display: none;
            }

            &__item {
                padding-right: 0;

                &:before {
                    display: none !important;
                }
            }
        }

        &__photos {
            &__list {
                li {
                    width: 50%;
                    padding: 0 5px;
                }
            }

            &__photo {
                width: 100%;
            }

            h2 {
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        &__prices {
            &__item {
                font-size: 16px;
                font-weight: 500;

                &__name {
                    padding-right: 10px !important;
                }

                &__price {
                    font-weight: 700;
                    font-size: 1.1em;
                    margin-top: 5px;
                }
            }

            h2, ul {
                padding-left: 10px;
                padding-right: 10px;
            }

            .table__wrap {
                padding-left: 20px;
                padding-right: 20px;
                margin-left: -10px;
                margin-right: -10px;
            }

            .btn {
                display: none;
                width: 135px;
                line-height: 42px;
                margin-top: 10px;

                &._mobile {
                    display: inline-block;
                }
            }
        }

        &__callback {
            &__list {
                flex-direction: column;
                padding-left: 40px;
                width: 100%;
            }

            &__step {
                background: #fff;
                margin-bottom: 20px;
                position: relative;
                text-align: left;

                &__number {
                    &__wrap {
                        position: absolute;
                        left: -25px;
                        top: 7px;
                        padding-left: 0;
                    }
                }

                &__text {
                    max-width: unset;
                    white-space: normal;
                }

                &:after {
                    bottom: -37px;
                    top: unset;
                    height: 30px;
                    width: 1px;
                    right: 50%;
                }
            }

            &__form {
                padding-left: 15px;
                padding-right: 15px;
            }

            input.form-control {
                padding-top: 12px;
                padding-bottom: 12px;
            }
        }

        &__related {
            &__title {
                text-align: left;
                padding-left: 15px;
            }

            &__categories {
                width: 100%;
                flex-direction: column;
                border: none;

                &__item {
                    margin-bottom: 1px;
                    white-space: nowrap;
                    padding: 0 10px !important;
                }
            }

            &__services {
                display: block;
                min-height: 271px;

                &__item {
                    line-height: 1.4;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }

                li {
                    width: 90%;
                }
            }
        }

        h2 {
            font-size: 27px;
            line-height: 1.2;
            margin-bottom: 20px;
        }

        h3 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .p-10 {
            padding: 25px;
        }

        .splide__arrow {
            width: 30px;
            height: 30px;
            display: none;

            &--prev {
                left: 0;
            }

            &--next {
                right: 0;
            }

            svg {
                height: 16px;
            }
        }

        &__contacts {
            position: unset;

            &__wrap {
                display: flex;
                flex-direction: column-reverse;
            }

            &__map {
                height: 450px;
            }
        }

    }
}

@media (max-width: 768px) {
    .page_service {
        .container {
            &:first-child {
                padding-top: 20px;
            }
        }

        .section_cases {
            padding-left: 0;
            padding-right: 0;
        }

        .callback-form {
            .btn_main {
                margin-top: unset;
            }
        }

        .subcategory {
            &_text {
                height: unset;
            }
        }

        figure.image {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }

    .block__service-header {
        padding: 26px 28px;
        background-size: auto 190px, auto;

        h1 {
            font-size: 26px;
            line-height: 29px;
        }
    }

    .flickity-page-dots {
        max-width: 100% !important;
    }

    #block-prices-content {
        overflow: hidden;
    }

    .modal-review {
        left: 0 !important;

        .jBox-container {
            width: calc(100% - 40px);
        }

        &._open {
            .page_service_long__reviews__review__text,
            .page_service_long__reviews__review__footer__case {
                max-width: 100% !important;
            }

            .page_service_long__reviews__review__footer span {
                white-space: nowrap;
            }
        }
    }
}
