.block__advantages {
    background-image: url('/img/bg_lion.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: #9c9c9c;

    &__title {
        margin-bottom: 20px !important;
    }

    &__number {
        font-size: 80px;
        line-height: 1.1;
    }

    &__item {
        &__title {
            @apply text-3xl leading-none mb-4;
        }
    }
}

@media (max-width: 768px) {
    .block__advantages {
        &__title {
            font-size: 22px;
            font-weight: bold;
            padding-left: 10px;
            padding-right: 10px;
        }

        &__number {
            font-size: 60px;
            margin-top: 10px;
        }

        &__item {
            padding-left: 30px;
            padding-right: 50px;
            max-width: 100%;

            &__title {
                text-align: left;
                margin-top: 10px;
                margin-left: 10px;
            }

            &__desc {
                text-align: left;
            }
        }
    }
}
