.block__breadcrumbs {
    .breadcrumb-item {
        position: relative;
        margin-right: 25px;
    }

    .breadcrumb-item:not(:last-child):after {
        content: '/';
        color: #696969;
        position: absolute;
        right: -14px;
        top: 0;
    }
}

@media(max-width: 1200px) {
    .block__breadcrumbs {
        padding-left: 12px;
    }
}
