.block_callback, .form_round, .callback-form-wrap {
    &.sent {
        .btn_sm {
            pointer-events: none;
            background: white !important;
            border-color: #e5e5e5 !important;
            color: #e5e5e5;
        }

        .sent_wrap {
            opacity: 1;
            pointer-events: all;
            transition: all .3s ease-in-out;
        }
    }

    .fields {
        position: relative;
    }

    .sent_wrap {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #FFFCE4;
        z-index: 20;
        border-radius: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        pointer-events: none;

        span {
            font-size: 24px;
            font-weight: 600;
        }

        p {
            white-space: pre-wrap;
            font-size: 20px;
            color: #A0A0A0;
            line-height: 1.5;
        }
    }
}

.modal__callback {
    position: fixed;
    left: 0;
    top: -110%;
    right: 0;
    height: 100%;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition: all .3s ease-in-out;
    z-index: 100;

    &._open {
        top: 0 !important;
    }

    &__container {
        width: 660px;
        max-width: 100%;

        &.sent {
            .sent_wrap {
                pointer-events: all;
                opacity: 1;
            }
        }
    }

    &__title {
        font-size: 40px;
    }

    &__messengers {
        svg {
            @apply text-primary fill-current;
            height: 40px;
        }
    }

    .form-control {
        border-radius: 0;
    }

    .btn_main {
        font-size: 18px !important;
        line-height: 1.5;
    }

    .tr.modal-callback-close {
        position: absolute;
        right: 30px;
        top: 30px;
        cursor: pointer;

        svg {
            width: 20px;
        }
    }

    .sent_wrap {
        .modal-callback-close {
            border-radius: 10px;
            background-color: #c00 !important;
            border-color: #c00 !important;
            font-weight: 600;
            color: #fff;
            max-width: 200px;
            font-size: 1.25rem;
            cursor: pointer;
            transition: all .3s ease-in-out;

            &:hover {
                background-color: darken(#c00, 10) !important;
                border-color: darken(#c00, 10) !important;
            }
        }

        .title {
            font-size: 28px;
        }

        p {
            white-space: unset;
        }
    }
}

@media (max-width: 768px) {
    .modal__callback {
        &__title {
            font-size: 28px;
            line-height: 1.3;
        }
    }
}
