.cases {
    &__carousel {
        .stamp {
            height: 120px;
            margin-top: -5px;
        }

        .case {
            h4 {
                @apply mt-4 mb-1 font-bold text-grey-400 text-xl uppercase;
            }

            em {
                @apply text-primary font-bold;
                font-style: unset;
            }
        }

        .flickity-page-dots {
            bottom: -45px;
        }

        &_small {
            .case {
                //max-height: 400px;
                //position: relative;
                //overflow: hidden;
                cursor: pointer;

                //&:after {
                //    content: '';
                //    position: absolute;
                //    top: 365px;
                //    left: 0;
                //    height: 40px;
                //    width: 100%;
                //    background: rgb(255, 255, 255);
                //    background: linear-gradient(0deg, rgba(#ededed, 1) 0%, rgba(#ededed, 1) 40%, rgba(#ededed, 0) 100%);
                //}
            }
        }
    }
}

@media (max-width: 768px) {
    .cases {
        &__carousel {
            .stamp {
                height: 90px;
                margin: 0;
                position: absolute;
                right: -20px;
                top: -35px;
            }

            .case {
                em {
                    font-size: 16px;
                }

                &__text {
                    font-size: 16px;
                }
            }
        }
    }
}
