.ul-to-check {
    ul {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: 100%;

        li {
            position: relative;
            width: 50%;
            padding: 10px 15px 10px 30px;
            margin: 0;

            &:before {
                @apply bg-primary;
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 15px;
                background-image: url('/img/check.png');
                background-position: center;
                background-repeat: no-repeat;
            }

            p {
                line-height: 1.5;
                max-width: 300px;
                margin-bottom: 0;
            }

            strong {
                @apply text-primary;
                font-size: 18px;
            }
        }
    }

    .list_full-page {
        li {
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .ul-to-check {
        ul {
            li {
                width: 100%;
            }
        }
    }
}
