.block__comments {
    ul {
        margin-bottom: 0;
    }

    &__add {
        .sent_success {
            border-radius: 10px;
        }
    }
}

.comment {
    padding-top: 15px;
    padding-bottom: 15px;

    &__image {
        background-color: #fff9e1;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 30px;
        overflow: hidden;

        img {
            object-fit: cover;
            height: 100%;
            padding-top: 5px;
        }
    }

    &__name {

    }

    &__text {
        margin-bottom: 0 !important;
    }

    &__date {
        margin-left: 5px;
        font-size: 14px;
        color: #6f6f6f;
    }

    &__actions {
        @apply text-primary;
        margin-top: 5px;
        font-size: 15px;
    }

    &__replies {
        padding-top: 15px;

        .comment {
            padding-bottom: 5px;
        }
    }
}

@media (max-width: 768px) {
    .comment {
        &__date {
            white-space: nowrap;
        }
    }
}
