.block__gallery {
    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__3 {
        .block__gallery__image {
            height: 240px;

            &._big {
                height: 440px;
            }
        }
    }
}
@media (max-width: 768px) {
    .block__gallery {
        &__3 {
            .block__gallery__image {
                height: 32vw;

                &._big {
                    height: 60vw;
                }
            }
        }
    }
}
