.block__header {
    padding-top: 30px;

    &__h {
        text-transform: none !important;
        text-align: left;
        font-weight: 600;
    }

    h2 {
        font-size: 30px !important;
    }

    h5 {
        font-size: 24px;
        font-weight: 700;
        color: #333;
        margin-bottom: 10px;
    }
}
