.hr {
    img {
        display: none;
    }

    img, svg {
        height: auto;
        max-width: 55px;
        @apply text-primary fill-current;
    }
}

.bg-grey-100, .bg-grey-200, .bg-grey-400, .bg-white {
    .hr {
        &__green {
            display: block;
        }

        &__white {
            display: none;
        }

        svg {
            @apply text-primary fill-current;
        }
    }
}

.bg-primary, .bg-grey-500 {
    .hr {
        &__white {
            display: block !important;
        }

        &__green {
            display: none !important;
        }

        svg {
            @apply text-white fill-current;
        }
    }
}

@media (min-width: 1300px) {
    .hr {
        img[style] {
            display: none !important;
        }
    }
}

@media (max-width: 1300px) {
    .hr {
        img {
            display: block;
            height: 20px;
            max-width: unset !important;
        }

        svg {
            display: none !important;
        }

        &_1 {
            img {
                height: 24px;
            }
        }

        &_2 {
            img {
                height: 16px;
            }
        }

        & + h2 {
            margin-top: -12px;
        }
    }
}
