.block__image {
    &._single {
        overflow: hidden;

        a {
            display: flex;
            align-items: center;
        }

        img {
            width: unset;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media (min-width: 1024px) {
    .block__image {
        &._single {
            width: 80%;
            //max-height: 400px;
            margin-left: 10%;
        }
    }
}
