.block__map {
    display: flex;
    flex-wrap: wrap;

    li {
        margin-right: 5px;
        margin-bottom: 5px !important;
        border: 1px solid #ddd;
        border-radius: 3px;
        transition: all .2s ease-in-out;

        &:hover {
            border-color: #ffc107;
        }

        a {
            padding: 7px 12px;
            border: none !important;
        }
    }
}
