.mentioning {
  & > * {
    margin-bottom: 20px;

    &:nth-child(odd) {
      padding-right: 20px;
    }
  }

  &_big {
    margin-top: 20px !important;

    .mention {
      border: 1px solid #E7E7E7;
    }
  }

  .mention {
    height: 100%;
    min-height: 121px;

    &__img {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        object-fit: contain;
        max-width: 90%;
        max-height: 108px;
      }
    }

    &__title {
      font-size: 16px;
    }

    &__text {
      font-size: 14px;
      line-height: 18px;
    }
  }

  [data-year] {
    padding: 2px 3px;

    &._active {
      background: rgba(2, 111, 79, .2);
    }
  }
}

@media(max-width: 768px) {
  .mentioning {
    &_big {
      flex-wrap: wrap;

      & > * {
        margin-bottom: 20px;
        padding-right: 0 !important;
      }
    }
  }
}
