.pagination {
    &__page {
        background: #fff;
        display: inline-block;
        text-align: center;
        line-height: 40px;
        font-size: 20px;
        height: 40px;
        width: 40px;
        margin-left: 2px;
        margin-right: 2px;
        color: #222;

        &.arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            background: none;
            color: #222;
        }

        &._disabled {
            display: none;
        }

        &._current {
            background: #026f4f;
            color: #fff;
        }
    }
}
