.partner {
    background-image: url('/img/partner.jpg');
    background-color: #1a0001;
    background-size: cover;

    .hr {
        svg {
            fill: white;
        }
    }

    &__item {
        background: rgba(#000, .5);
    }
}

.modal__partner {
    padding-top: 10px;
    padding-bottom: 10px;

    iframe {
        width: 100%;
        height: 450px;
    }

    p {
        margin-bottom: 10px;
    }
}
@media (max-width: 1300px) {
    .partner {
        .hr {
            &__green {
                display: none !important;
            }

            &__white {
                display: block !important;
            }
        }
    }
}

@media (max-width: 768px) {

    .modal__partner {
        iframe {
            height: 230px;
        }
    }
}
