.block__author {
    p {
        margin-bottom: 0;
    }

    &__info {
        font-size: 16px;
        color: #6f6f6f;
        margin-top: 3px;

        p {
            line-height: 1.5;
        }
    }

    &__about {
        position: relative;
        top: -7px;
    }
}
