.persons__carousel {
    .person {
        &__image {
            height: 500px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }

        &__name {
            margin-bottom: .25rem;
            margin-top: .25rem;
        }

        &__about {
            margin-top: 5px;
            font-size: 14px;
            padding-left: 10px;
            padding-right: 10px;
        }

        p {
            margin-bottom: 0;
        }
    }

    &_small {
        .person {
            p {
                line-height: 1.5;
            }

            &__image {
                width: 150px;
                height: 150px !important;
                background-size: cover !important;
                border-radius: 50%;
                margin-left: auto;
                margin-right: auto;
                background-position: bottom center;
                background-origin: content-box;
                padding-top: 10px;
            }
        }
    }
}

@media (max-width: 768px) {
    .persons__carousel {
        .person {
            &__image {
                height: 350px;
            }

            &__name {
                font-size: 17px;
            }
        }
    }
}
