.block__price {
    &__menu {
        @apply px-4;

        a {
            @apply inline-block font-semibold text-primary border-b border-primary border-opacity-50 leading-tight;

            &.active {
                @apply text-grey-500 border-none pointer-events-none;
            }
        }

        li {
            &:first-of-type {
                position: relative;

                &:after {
                    @apply bg-grey-400;
                    content: '';
                    width: 2px;
                    height: 18px;
                    margin-top: 5px;
                    position: absolute;
                    right: 0;
                }
            }
        }
    }
}

@media (max-width: 425px) {
    .block__price__menu {
        padding: 0;
        font-size: 13px;
        line-height: 28px;
        margin-bottom: 15px !important;
    }
}
