.ul-to-qa {
    ul {
        margin-bottom: 20px;
        padding-left: 0 !important;
        width: 100%;
        max-width: 100% !important;

        li {
            position: relative;
            padding: 0;
            margin-top: 5px;
            margin-bottom: 0;
            cursor: pointer;

            &._open {
                p {
                    margin-bottom: 20px;
                }

                &:after {
                    transform: rotate(180deg) translateY(50%);
                }
            }

            br {
                display: none;
            }

            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 2px;
                background: #eaeaea;
                border-radius: 0;
            }

            &:after {
                content: '';
                pointer-events: none;
                display: inline-block;
                width: 20px;
                height: 20px;
                background-image: url('/img/arrow_down.png');
                background-repeat: no-repeat;
                position: absolute;
                right: 0;
                top: 25px;
                transition: all .6s;
            }

            strong {
                display: block;
                font-size: 18px;
                padding: 15px 45px 10px 0;
            }

            p {
                display: none;
                padding-right: 45px;
                margin: 0;
                overflow: hidden;
                cursor: default;
            }
        }
    }
}
