.block__quote {
    margin-right: -100px;
    padding-right: 100px;
    display: flex;
    align-items: center;
}

@media (max-width: 1300px) {
    .block__quote {
        background-position: bottom 0 right 0;
        padding-right: unset;
        margin-right: unset;
    }
}

@media (min-width: 1180px) {
    .block__quote {
        background-position: bottom 0 right -65px;
        background-size: 320px;
    }
}

@media (min-width: 1180px) and (max-width: 1300px) {
    .block__quote {
        background-position: bottom 0 right -65px;
        background-size: 270px;
    }
}
