.block__result {
    @apply bg-primary py-6 text-white text-center text-lg relative;

    &:after {
        content: '';
        display: inline-block;
        background-image: url('/img/stamp.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 110px;
        height: 110px;
        position: absolute;
        right: -30px;
        bottom: -30px;
    }

    &__title {
        margin-bottom: 5px !important;
    }

    .hr {
        margin-top: 10px;

        img {
            height: unset;
            width: 46px;
        }
    }
}
