.block__text {
    &.page__inner {
        background: transparent;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 700;
        font-size: 19px;
        margin-bottom: 10px;
    }

    p, ul {
        margin-bottom: 20px;
        font-size: 17px;
        line-height: 1.8;
    }
}
