.thanks__carousel {
    margin-bottom: 24px;

    .font-medium, h5 {
        cursor: pointer;
    }

    .flickity-page-dots {
        bottom: -45px;
    }

    .thank {
        &__text {
            //max-height: 290px;
            //overflow: hidden;
            position: relative;

            //&:after {
            //    content: '';
            //    position: absolute;
            //    top: 270px;
            //    left: 0;
            //    height: 40px;
            //    width: 100%;
            //    background: rgb(255, 255, 255);
            //    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0) 100%);
            //}
        }
    }
}
