.block__warning {
    display: block;
    //background-color: #fff9e1;
    background-color: #eee;
    margin-bottom: 30px;
    margin-top: 30px;

    &__title {
        font-size: 22px;
        font-weight: 700;
        letter-spacing: .5px;
        line-height: 1 !important;
    }

    &__text {
        margin-bottom: 0 !important;
    }
}
